<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Criar Projeto</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container" style="margin-top: 5%">
    <div class="row">
      <div class="col-md-12">
        <h1>Novo Projeto</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <form action="create" method="POST">
              <div class="form-group">
                <label for="postTitle">Nome</label>
                <input name="name" type="text" class="form-control" id="projectName" placeholder="Nome do projeto">
              </div>
              <div class="form-group">
                <label for="postImage">Imagem</label>
                <input name="image" type="text" class="form-control" id="projectImage" placeholder="Exemplo: http://www.meusite.com/images/foto.jpg">
              </div>
              <div class="form-group">
                <label for="postDescription">Assunto do projeto</label>
                <textarea name="subject" type="text" class="form-control" id="projectSubject" placeholder="Dê uma assunto para o projeto (Seja breve)"></textarea>
              </div>

              <div class="form-group">
                <label for="postBody">Descrição do projeto</label>
                <textarea name="description" type="text" class="form-control" id="projectDescription" placeholder="Aqui você coloca tudo o que quiser"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
      </div>
        
    </div>
  </div>
</body>
</html>